@charset "utf-8";
/* CSS Document */


/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables

2.0 - Navigation Menus
	2.1 - Main
	2.2 - Footer

3.0 - Content
	3.1 - Site Structure
	3.2 - Site Header
	3.3 - Site Footer

4.0 - Media

5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments

--------------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper  {
	width: 1170px;
}

.row {
	overflow: auto;
}

.wrapper, #about > div, #products header, #contact header, .wh-circle, table, form  {
	margin: 0 auto;
}

nav li, header p, footer li, footer ul a {
	display: inline-block;
}

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

* {
	font-family: 'Poppins', sans-serif;
}

caption, form p, h3, #about h2, .l-fl label, form .r-fl p, td:first-child {
	color: #9662ce;
}

a[href*="tel"], #about h3, h2, body > header p, #about > div p {
	color: #204384;
}

nav a, p:last-child a, th, footer {
	color: #fff;
}

nav, body > header p, p:last-child a, #about ul, #products h2, #contact h2, form, footer h4, section:nth-child(4) h2, #contact h2, th  {
	text-transform: uppercase;
}

nav ul, #about > div p, #products, section:nth-child(4) h2, #contact header, header p , table {
	text-align: center;
}

body > header p, #about > div p, header:first-child h2, #products h3, caption  {
	font-size: 32px;
}

#about div p, #about li, #about h3, form a, td, #products section[class*="-fl"] p:nth-child(3), body > section:nth-child(4) p {
	font-weight: 500;
}


/*    1.1 - Headings     */

body > header p {
    padding: 20px 80px 20px 30px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 490px 0px 90px 85px;
}

body > header p, header:first-child h2, .col label, .l-fl label, form p {
    font-weight: 600;
}

#about h2, #products h3, caption, section:nth-child(4) h3 {
	font-family: 'Cookie', cursive;
	font-weight: 200;
}

h2, nav ul, h3, section:nth-child(4) p, form p, h4, #about .l-fl:nth-child(2) p:nth-child(2), #products section[class*="-fl"] p:nth-child(3) {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#about h3 {
	padding: 3px 40px;	
}

#products h3 {
	margin-top: 30px;
}

section:nth-child(4) h3 {
	font-size: 24px;
	margin: 50px 0 4px;
}

#about h2 {
	font-size: 36px;
}

#about .l-fl:nth-child(2) p:nth-child(2) {
	margin-top: 10px;
}


/*	1.2 - Body Copy      */

#about .row div:nth-child(2), #about li, #products div p, section:nth-child(4) p, footer {
	font-size: 14px;
}

#about .l-fl p, #products p {
	color: #432920;
}

p, #about ul {
	line-height: 1.75;
}

p:last-child a {
	padding: 10px 30px;
}

#about div p:last-child, th {
	font-weight: 400;
}

#about div p:last-child {
	margin-top: 40px;
}

header p {
	font-size: 18px;
	margin-bottom: 80px;
}

#products section > p:last-child {
	margin-top: 40px;
}


/*	1.3 - Buttons       */

a {
	text-decoration: none;
}

nav a:hover {
	color: #204384;
}

div p a:hover {
	background-color: #204384;
}


/*	1.4 - Forms        */

form {
	margin-top: 100px;
}

form label, p:last-child a {
	font-size: 16px;
}

input {
	padding: 15px 250px 15px 15px;
}

form .l-fl input {
	margin: 5px 0 25px;
}

form select {
	padding: 12px 300px 12px 15px;
}

form .r-fl p:first-child {
	line-height: 1.5;
}

form .r-fl p:nth-child(3) {
	margin-top: 26px;
}

form .r-fl p:nth-child(5) {
	margin-top: 35px;
}

form .r-fl p:nth-child(7) {
	margin-top: 64px;
}

.col label {
	font-size: 10px;
}

form .row:nth-child(6) label {
	display: block;
	margin-bottom: 12px;
}

form .row:nth-child(6) input {
	margin-right: 10px;
}

form p:last-child {
	margin-top: 110px;
}

input[name="flavor"], input[name="type"], input[name="quantity"] {
	padding: 8px;
}

input[name="flavor"] {
	-webkit-appearance: square-button;
}

input[name="type"], input[name="quantity"] {
	-webkit-appearance: button;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}


/*	1.5 - Lists        */

#about li {
	list-style-image: url(../img/cherry.png);
	padding-bottom: 13px;
}


/*	1.6 - Tables       */

table col:first-child, table, input, textarea, select {
	border-style: solid;
	border-color: #204384;
}

input, textarea, select {
	border-width: 3px;
}

td, th {
	padding: 10px 57px;
}

th:first-child {
	padding-left: 217px;
}

td:first-child {
	padding: 0 35px;
}

tr:nth-child(2) td:nth-child(3), tr:nth-child(3) td:nth-child(3) {
	padding-right: 255px;
}



/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */


/*  2.1 - Main       */

nav a {
	padding: 0 22px 25px;
}

header div:first-child {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


/*  2.2 - Footer     */

a span {
	display: none;
}

footer ul a {
	width: 21px;
	height: 21px;
}

footer ul {
	-webkit-padding-start: 0;
}

footer ul li {
	margin-right: 20px;
}

footer li:first-child a {
	background: url(../img/facebook.png) no-repeat 0 0;
}

footer li:nth-child(2) a {
	background: url(../img/twitter.png) no-repeat 0 0;
}

footer li:nth-child(3) a {
	background: url(../img/pinterest.png) no-repeat 0 0;
}

footer li:nth-child(4) a {
	background: url(../img/linked-in.png) no-repeat 0 0;
}

footer li:last-child a {
	background: url(../img/rss.png) no-repeat 0 0;
}

footer li a:hover {
	background-position: 0 -20px;
}


/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

header div:first-child, footer, p:last-child a {
	background-color: #9662ce;
}

#products, #contact {
	background-color: #c7ffff;
}

thead {
	background-color: #204384;
}

tbody tr, input, textarea, select {
	background-color: #fff;
}


/*	3.1 - Site Structure     */

#about .row div:nth-child(2) {
	width: 570px;
	margin: 0 0 110px 20px;
}

#about > div p {
	margin-top: 60px;
	margin-bottom: 80px;
	line-height: 1.25;
}

#about > div {
	width: 705px;
}

#about .r-fl {
	width: 174px;
}

table {
	border-collapse: collapse;
}

form > div {
	width: 470px;
}

#products .row section {
	width: 285px;
}

#products, #contact {
	padding: 150px 0;
}

#products section:nth-child(2) {
	margin-left: 140px;
}

#products .row > section:first-child p:last-child {
	margin-top: 64px;
}

body > section:nth-child(4) {
	padding: 120px 0;
}

section:nth-child(4) section {
	width: 260px;
}

section:nth-child(4) section:nth-child(2), section:nth-child(4) section:nth-child(3) {
	margin-left: 40px;
}

form, .col {
	padding: 5px 0;
}

form {
	width: 965px;
}

.col {
	width: 148px;
}

form .row {
	padding: 3px 0;
}

form .col input, nav img {
	vertical-align: middle;
}


/*	3.2 - Site Header      */

nav img {
	width: 85px;
	height: 82px;
}

#products header p, #contact header p {
	width: 550px;
}


/*	3.3 - Site Footer     */

footer {
	padding: 50px 0;
}

footer section {
	width: 300px;
}

footer section:nth-child(2) {
	margin-left: 125px;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

body > header {
	background: url(../img/cups.jpg) 0 0 no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 116px;
}

.wh-circle {
	background: #fff no-repeat center center;
	height: 180px;
	width: 180px;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.row section:first-child .wh-circle {
	background-image: url("../img/pink-cup.png");
}

.row section:nth-child(2) .wh-circle {
	background-image: url("../img/choc-cup.png");
}

.row section:last-child .wh-circle {
	background-image: url("../img/blue-cup.png");
}


/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*	5.1 - Alignments      */

.l-fl, .col {
	float: left;
}

.r-fl {
	float: right;
}

